@{
}

<h1>Add Cheese</h1>

<p><a asp-controller="Cheese" asp-action="">Cheese List</a></p>

<form method="post">
    <h4>Cheese</h4>
    <input name="name" type="text"/>
    <h4>Description</h4>
    <textarea name="description" type="text"></textarea>
    <br />
    <input type="submit" value="Add Cheese"/>
</form>